@if $darker == true {
  .sidebar list row:selected {
    &, &:backdrop, &:hover {
      background-color: $darker_selected_bg_color;
    }
  }

  treeview.sidebar.view {
    color: $darker_fg_color;
  }
}

toolbar.primary-toolbar{
border-color: $the_borders_color;
}
