// General guidelines:
// - very unlikely you want to edit something else than _common.scss
// - keep the number of defined colors to a minimum, use the color blending functions if
//   you need a subtle shade
// - if you need to inverse a color function use the @if directive to match for dark $variant

$variant: 'light';
$asset_suffix: if($variant=='dark', '-dark', ''); // use dark assets in dark variant
// To fix potential weirdness with headerbar: background: white linear-gradient(to top, #dbdbd7, #fafafa);


@import 'colors';
@import 'drawing';
@import 'common';
@import 'colors-public';
