$variant: 'light';
$compact: 'true';
$asset_suffix: if($variant=='dark', '-dark', ''); // use dark assets in dark variant
$window_button_type: "vertex"; // vanilla, vertex or osx

@import 'colors';
@import 'drawing';
@import 'common';
@import 'colors-public';
