@mixin notebook {
  padding: 0px;
  border-color: $borders_color;
  border-width: 1px;
  background-color: $dark_fill;

  &:backdrop {
    border-color: $backdrop_borders_color;
    background-color: $backdrop_dark_fill;
  }
}

@mixin tab {
  min-height: 20px;
  min-width: 20px;
  padding: 1px 6px;
  margin: 0;
  outline-offset: -5px;
  color: $insensitive_fg_color;
  font-weight: bold;
  border-width: 1px;

  // for reorderable tabs
  border-color: transparent;

  //

  &:hover {
    color: mix($insensitive_fg_color, $fg_color, 50%);

    &.reorderable-page {
      border-color: transparentize($borders_color, 0.7);
      background-color: transparentize($bg_color, 0.8);
    }
  }

  &:backdrop {
    color: mix($backdrop_fg_color, $backdrop_bg_color, 60%);

    &.reorderable-page {
      border-color: transparent;
      background-color: transparent;
    }
  }

  &:checked {
    color: $fg_color;

    &.reorderable-page {
      border-color: transparentize($borders_color, 0.5);
      background-color: transparentize($bg_color, 0.5);
      
      &:hover {
        background-color: transparentize($bg_color, 0.3);
      }
    }
  }

  &:backdrop:checked {
    color: $backdrop_fg_color;

    &.reorderable-page {
      border-color: $backdrop_borders_color;
      background-color: $backdrop_bg_color;
    }
  }
}
