// light variant colors
$light_base_color: #fff;
$light_bg_color: #f5f5f4;
$dark_text_color: #2e3436;
$dark_fg_color: black;
// dark variant colors
$dark_base_color: #232729;
$dark_bg_color: #33393b;
$light_text_color: #eeeeec;
$light_fg_color: white;
//
$adwaita_blue: if($variant == "light", #4a90d9, darken(#4a90d9, 20%));
//
$orange: #f57900;
$red: #cc0000;
$green: if($variant == "light", #73d216, darken(#73d216, 10%));
$light_red: if($variant == "light", #ef2929, darken(#ef2929, 10%));
